{% extends 'front.html.twig' %}

{% block body %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <section class="mail-success section" style="height: 70vh;">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <!-- Error Inner -->
                    <div class="success-inner">
                        <h1><i>
                                <img src="{{ asset('img/ka_logo.png') }}">
                            </i><span>
                                {{ message }}%
                            </span></h1>
                        <a href="{{ path('listformation') }}" class="btn btn-primary btn-lg">Home page</a>
                    </div>
                    <!--/ End Error Inner -->
                </div>
            </div>
        </div>
    </section>

    <style>
        body{margin-top:20px;}
        .mail-success {
            text-align: center;
            background: #fff;
            border-top: 1px solid #eee;
        }
        .mail-success .success-inner {
            display: inline-block;
        }
        .mail-success .success-inner h1 {
            font-size: 100px;
            text-shadow: 3px 5px 2px #3333;
            color: #006DFE;
            font-weight: 700;
        }
        .mail-success .success-inner h1 span {
            display: block;
            font-size: 25px;
            color: #333;
            font-weight: 600;
            text-shadow: none;
            margin-top: 20px;
        }
        .mail-success .success-inner p {
            padding: 20px 15px;
        }
        .mail-success .success-inner .btn{
            color:#fff;
        }
    </style>
{% endblock %}
{% block javascript %}

<script>
    function displayTime(time, node) {
        if(time < 1) {
            window.location.href="https://wikipedia.org/";
        } else {
            node.textContent = time;
        }
    }
    document.addEventListener("DOMContentLoaded", function(event){
        node = document.getElementById("time");
        var time = 10;
        setInterval(function(){time -= 1; displayTime(time, node);}, 1000);
    });
</script>
{% endblock %}
