.button {
    -fx-background-color:  #2D75E8;
    -fx-font-size: 14;
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color:  #615f68;
}

.button:active{
    -fx-background-color: #dfdce5;
}